/* HTML SIZING */
html{
    box-sizing:border-box;
    overflow-x:hidden;
}

*, *:before, *:after{
    box-sizing:inherit;
}

img{
    max-width:100%;
    height:auto;
  }

body{
  margin:auto;
}



header.primary#home {
  background-image: url("../img/banneroptimized.jpg");
  background-size: cover;
  text-align:center;
  width:100%;
  min-height: 100vh;
}


header.primary h1{
  font-size:5rem;
  color:#c6c0ad;
  padding-top: 300px;
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  text-shadow: 6px 5px 3px rgba(0, 0, 0, 0.3);
  
  
}
header.primary h2{
  color:#c6c0ad;
  font-size: 3rem;
  margin: 0;
  text-shadow: 6px 5px 3px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}


.nav2 img{
  display: flex;
  justify-content: left;
  width: auto;
  height: 125px;
  padding: 10px 10px 10px 25px;
}
.nav2{
background-color: #c6c0ad;
display: flex;
  justify-content: space-between;
  align-items: center;
} 

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content: right;
  margin: 0;
  padding: 0;
}

header.primary nav ul li{
 
  list-style-type:none;
  padding-right: 60px;
  padding-top: 15px;
  padding-bottom: 15px;
}

header.primary nav ul li a{
 
  border-radius:15px;
  color:aliceblue;
  display:block;
  padding:10px 10px 10px 10px;
  text-align:center;
  transition:0.3s;
  text-decoration:none;
  font-size: 23px;

}

header.primary nav ul li a:hover{
 
  background-color:#21301e;
  color:aliceblue;
}

header.primary nav ul li a.active{
  background-color:#21301e;

}

section.secondary div div div div h4{
  text-align:center;
  font-size:3.5rem;
}

section.secondary div div div div p{
  font-size:1.5rem;
  padding-top:30px;
}
 /*Home -   -   -   Home*/
 main#main-home section#content.secondary {
  background:#d9d9d9;
  width:100vw;
  height:400px;

}

main#main-home div.row {
  width: 100vw;
 }

 main#main-home section#content.secondary {
  background:#d9d9d9;
  height:400px;
  
}

main#main-home div#explore {
  margin:0;
  width:30vw;
   background:#d9d9d9;
  height:400px;
  padding:20px;
}

#explore h4 {
  padding-top:80px;
  font-size: 2.5rem;
  color:#586f63;
}

span {
  color:#21301e;
}
/*
section.secondary div h4{
  text-align:center;
}

section.secondary div p{
  text-align:center;
  padding:30px;
} */

/*CARDS*/
section.cards {
  padding: 100px 0; /* Instead of fixed height */
}

.cards h4 {
  color: #586f63;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 40px;
}

section#showcase.row {
  width: 80vw;
  margin: 0 auto;
}

div.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card img {
  height: 400px; 
  object-fit: cover;
}

.card-body {
  background-color: #586f63;
  text-align: center;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
}

h5.card-title {
  margin-top: 10px;
  color: #21301e;
  font-size: 1.5rem;
}

div.card-body p {
  font-size: 0.9rem;
  line-height: 1.4rem;
  color: #ffffff;
}

a.btn.btn-outline-primary {
  border-color: #d9d9d9;
  color: #d9d9d9;
  margin-top: 10px;
}


 /* RENTALS -   -   - RENTALS*/


/* RIVER RENTALS */
main#rentals {

}
main#rentals section#canoe-rentals {
  padding-top: 100px;
}
main#rentals h4{
  font-size: 3rem;
  text-align: center;
}

main#rentals p{
  font-size: 25px;
  text-align: center;
}

main#rentals .rentals-content {
  margin:90px 60px 20px 60px;
  display:flex;
  background-color: #586f63;
  height: 700px;
  

}
main#rentals section#rentals-content1{
  background-color: #aca694;
  
}

main#rentals div.river-rent-txt{
  font-size: 1.8rem;
  width: 50%;
  padding: 20px;
  text-align: center;
}

main#rentals div.river-rent-txt h5{
  font-size: 4rem;
  
}

main#rentals .rentals-content img{
  max-width: 50%;
  width: 100%;
  
}



/* CAMPING */


section#camping{
  padding-top: 100px;
}





.camping-content {
  margin-bottom:30px;


}

.lodging {
  display:flex;
  justify-content: center;
  align-items:flex-end;
 
  
}

.carousel {
    margin-left: auto;
    margin-right: auto;
  height: 600px;
    width:60vw;

}

ul.slides {
    display: block;
    position: relative;
    height: 600px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none; 
}


.slide-container { 
    display: block; 
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}   

.slide-image img {

    min-width: 100%;
    height:auto;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block; 
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

.info {
  background-color: #21301e;
  margin-left:0;
  height:600px;
  width: 600px;
  font-size:1.2rem;
  color:#cdcdcd;
  text-align:center;
  
}

.info h1 {
  padding:20px;
}
.btn {
  margin-top:0;
text-align:center;
}

.info a {
  margin-top:20px;
  text-decoration:none;
  background-color:#aca694;
color:white;
  padding:10px 40px;
  border-radius: 60px;
}


/* OTHER STUFF */

/* FOOTER */
#colophon{
  background-color:#aca694;
  color:aliceblue;
  width:100%;
  padding:20px;
}


   
#copyright h6{
  text-align: center;
}

#colophon p{
  text-align:center;
  font-size:0.6rem;
}



/* UTILITY CLASSES */


/* MEDIA QUERIES */

