/* HTML SIZING */
html{
    box-sizing:border-box;
}

*, *:before, *:after{
    box-sizing:inherit;
}

img{
    max-width:100%;
    height:auto;
  }


body{
  margin:auto;
}

/* HEADER */

header.primary{
  background-image: url("/assets/img/banner.jpg");
  background-size: cover;
  text-align:center;
  width:100%;
  min-height: 100vh;
}


header.primary h1{
  font-size:5rem;
  color:aliceblue;
  padding-top: 300px;
}
header.primary h2{
  color:aliceblue;
  font-size: 3rem;
  margin: 0;
}


.nav2 img{
  display: flex;
  justify-content: left;
  width: 120px;
  height: auto;
  padding: 10px;
}
.nav2{
background-color: #aca694;
display: flex;
  justify-content: space-between;
  align-items: center;
} 

header.primary nav ul{
  display:flex;
  flex-direction:row;
  justify-content: right;
  margin: 0;
  padding: 0;
}

header.primary nav ul li{
  list-style-type:none;
  padding-right: 75px;
  padding-top: 15px;
  padding-bottom: 15px;
}

header.primary nav ul li a{
 
  border-radius:15px;
  color:aliceblue;
  display:block;
  padding:15px 15px 15px 15px;
  text-align:center;
  transition:0.3s;
  text-decoration:none;
  font-size:0.9rem;
}

header.primary nav ul li a:hover{
  border:3px solid #21301e;
  background-color:#21301e;
  color:aliceblue;
}

header.primary nav ul li a.active{
  background-color:#21301e;
  border:3px solid #21301e;
}





/* OTHER STUFF */


/* FOOTER */
#colophon{
  background-color:#aca694;
  color:aliceblue;
  width:100%;
  padding:20px;
}

#colophon p{
  text-align:center;
  font-size:0.6rem;
}


/* UTILITY CLASSES */


/* MEDIA QUERIES */
